@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  width: 100%;
  height: 10000px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  background: #302C42;
}

.container {
  max-width: 1272px;
  margin: 0 auto;
  padding: 0px 15px;
}

.header {
  padding: 50px 0px;
  position: absolute;
  transition: all 0.3s ease 0s;
  width: 100%;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  display: flex;
  align-items: center;
  gap: 15px;
}
.header__actions {
  display: flex;
  align-items: center;
}
.menu__list {
  display: flex;
  align-items: center;
  gap: 41px;
}
.menu__link {
  text-decoration: none;
  color: #FFF;
  font-size: 12px;
  font-weight: 700;
}

.fixed {
  padding: 5px 0px;
  position: fixed;
  background: rgba(0, 0, 0, 0.3725490196);
  transition: all 0.3s ease 0s;
  animation-duration: 1.5s;
  animation-name: animHeader;
}
.fixed .header__logo img:first-child {
  width: 50px;
  height: 50px;
}
.fixed .header__logo img:last-child {
  width: 60px;
  height: 30px;
}

@keyframes animHeader {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}