@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  width: 100%;
  height: 10000px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  background: #302C42;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 4px; /* ширина всей полосы прокрутки */
}

body::-webkit-scrollbar-track {
  background: #302C42; /* цвет зоны отслеживания */
}

.hide {
  overflow: hidden;
}

body::-webkit-scrollbar-thumb {
  background-color: #fff; /* цвет бегунка */
  border-radius: 5px; /* округлось бегунка */
  border: 3px solid #fff; /* отступ вокруг бегунка */
}

.container {
  max-width: 1272px;
  margin: 0 auto;
  padding: 0px 15px;
}

.header {
  padding: 50px 0px;
  z-index: 100;
  position: absolute;
  transition: all 0.3s linear 0s;
  width: 100%;
}
@media (max-width: 768px) {
  .header {
    padding: 30px 0px;
  }
}
@media (max-width: 515px) {
  .header {
    padding: 15px 0px;
  }
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  display: flex;
  align-items: center;
  gap: 15px;
}
.header__logo img {
  transition: all 0.3s ease 0s;
}
.header__logo img:first-child {
  animation: rotate 10s linear infinite;
}
@media (max-width: 990px) {
  .header__logo img:first-child {
    width: 100px;
    height: 98px;
  }
}
@media (max-width: 515px) {
  .header__logo img:first-child {
    width: 69px;
    height: 60px;
  }
}
@media (max-width: 990px) {
  .header__logo img:last-child {
    width: 60px;
  }
}
@media (max-width: 515px) {
  .header__logo img:last-child {
    width: 46px;
    height: 28px;
  }
}
.header__actions {
  display: flex;
  align-items: center;
  gap: 38px;
}
@media (max-width: 990px) {
  .header__actions {
    gap: 25px;
  }
}
.header__action {
  width: 154px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  border-radius: 40px;
  border: 2px solid #FFF;
  color: #FFF;
  font-size: 12px;
  font-weight: 700;
  background: #302C42;
  cursor: pointer;
}
@media (max-width: 515px) {
  .header__action {
    width: 220px;
    height: 60px;
    font-size: 16px;
  }
}
@media (max-width: 962px) {
  .header__btn {
    display: none;
  }
}

@media (max-width: 962px) {
  .menu__body {
    position: fixed;
    width: 30%;
    height: 100vh;
    left: 0;
    top: 0;
    display: flex;
    align-items: flex-start;
    padding: 100px 15px;
    align-items: center;
    background: #625987;
    flex-direction: column;
    transition: all 0.3s ease 0s;
    transform: translateX(-100%);
    opacity: 0;
  }
}
@media (max-width: 768px) {
  .menu__body {
    width: 50%;
  }
}
@media (max-width: 515px) {
  .menu__body {
    width: 100%;
    padding: 0;
    align-items: center;
    justify-content: center;
  }
}
.menu-open .menu__body {
  transform: translateX(0);
  opacity: 1;
}
.menu__list {
  display: flex;
  align-items: center;
  gap: 41px;
  transition: all 0.3s ease 0s;
}
@media (max-width: 1060px) {
  .menu__list {
    gap: 26px;
  }
}
@media (max-width: 962px) {
  .menu__list {
    flex-direction: column;
    row-gap: 36px;
    padding-bottom: 100px;
  }
}
.menu__link {
  text-decoration: none;
  color: #FFF;
  font-size: 12px;
  font-weight: 700;
  transition: all 0.3s linear 0s;
  position: relative;
}
@media (max-width: 962px) {
  .menu__link {
    font-size: 22px;
  }
}
.menu__link::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 2px;
  opacity: 0;
  background: #fff;
  transition: all 0.3s linear 0s;
}
.menu__link:hover::after {
  opacity: 1;
  bottom: -5px;
  transition: all 0.3s linear 0s;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.fixed {
  padding: 8px 0px;
  position: fixed;
  background: rgba(0, 0, 0, 0.3725490196);
  transition: all 0.3s linear 0s;
  animation-duration: 1.5s;
  animation-name: animHeader;
  left: 0;
  top: 0;
}
.fixed .header__logo img:first-child {
  width: 50px;
  height: 50px;
}
.fixed .header__logo img:last-child {
  width: 60px;
  height: 30px;
}

@keyframes animHeader {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.menu__icon {
  display: none;
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  border-spacing: 0;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-indent: 0;
}
@media (max-width: 962px) {
  .menu__icon {
    display: flex;
    flex-direction: column;
    row-gap: 7px;
    margin-right: 10px;
  }
}

.line {
  display: block;
  width: 24px;
  height: 4px;
  border-radius: 40px;
  background: linear-gradient(90deg, #C0B7E8 -15.79%, #8176AF 100%);
  position: relative;
  transition: transform 0.3s, opacity 0.3s; /* Додавання переходів для transform та opacity */
}
.line.middle {
  margin-left: auto;
}
.line.top {
  transform-origin: center top;
  width: 33px;
}
.line.bottom {
  transform-origin: center bottom;
  width: 33px;
}

.main {
  padding-top: 220px;
}
.main__container {
  display: flex;
  padding-top: 62px;
  justify-content: space-between;
  position: relative;
}
@media (max-width: 992px) {
  .main__container {
    flex-direction: column-reverse;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .main__container {
    padding-top: 0;
  }
}
.main__decor {
  position: absolute;
}
.main__content {
  padding-top: 34px;
}
.main__title {
  color: #FFF;
  font-size: 40px;
  max-width: 456px;
  padding-bottom: 36px;
}
.main__title span {
  color: #C0B7E8;
}
@media (max-width: 992px) {
  .main__title {
    position: relative;
    z-index: 10;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .main__title {
    font-size: 24px;
    max-width: 270px;
  }
}
.main__text {
  padding-bottom: 66px;
  max-width: 450px;
  color: #FFF;
  font-weight: 400;
}
@media (max-width: 992px) {
  .main__text {
    display: none;
  }
}
.main__action {
  display: flex;
  align-items: center;
  gap: 11px;
}
@media (max-width: 992px) {
  .main__action {
    justify-content: center;
  }
}
@media (max-width: 992px) {
  .main__action img {
    display: none;
  }
}
.main__btn {
  cursor: pointer;
}
.main__btn:hover .main__action {
  gap: 25px;
}
@media (max-width: 992px) {
  .main__right {
    position: relative;
  }
}
.main__image {
  z-index: 10;
  position: relative;
}
.main__image img {
  border-radius: 100px 100px 120px 260px;
  box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.13);
  transition: all 0.3s linear 0s;
}
@media (max-width: 768px) {
  .main__image img {
    width: 318.665px;
    height: 277.043px;
  }
}
@media (max-width: 355px) {
  .main__image img {
    width: 100%;
    box-shadow: none;
  }
}

.one-decor {
  left: -81px;
  top: 71px;
}
@media (max-width: 992px) {
  .one-decor {
    display: none;
  }
}

.two-decor {
  right: 50px;
  top: -203px;
}
@media (max-width: 992px) {
  .two-decor {
    right: 25px;
    top: -253px;
  }
}
@media (max-width: 768px) {
  .two-decor {
    width: 80%;
    right: 97px;
    top: -205px;
  }
}

.three-decor {
  top: 216px;
  right: -86px;
}
@media (max-width: 992px) {
  .three-decor {
    top: 158px;
    right: -86px;
  }
}
@media (max-width: 768px) {
  .three-decor {
    width: 80%;
    right: 155px;
  }
}

.four-decor {
  top: -33px;
  right: -81px;
}
@media (max-width: 992px) {
  .four-decor {
    top: -100px;
    right: 30px;
  }
}
@media (max-width: 768px) {
  .four-decor {
    width: 80%;
    right: -85px;
  }
}

.btn {
  border-radius: 40px;
  background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
  padding: 17px 37px;
  background-size: 100% 100%;
  border: none;
  cursor: pointer;
  transition: transform 0.3s linear 0s;
}